<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hogwarts.blog.mapper.TypeMapper">


    <resultMap id="type" type="com.hogwarts.blog.pojo.Type">
        <id property="id" column="tid"/>
        <result property="name" column="tname"/>
        <result property="totalBlogs" column="total"/>
    </resultMap>


    <select id="findTopType" resultMap="type" parameterType="java.lang.Integer">
        SELECT t.`id` tid,t.`name` tname,COUNT(*) total
        FROM t_blog b INNER JOIN t_type t ON(t.id = b.`type_id`)
        GROUP BY tname
        ORDER BY total DESC
        LIMIT #{size}
    </select>


</mapper>